.employeeDataWrapper {
    height: calc(100vh - 80px);
    overflow-y: auto;
    // padding-bottom: 60px;
    padding: 32px;
    h3 {
        // font-size: clamp(1.125rem, 0.8169rem + 1.3146vw, 2rem);
        // line-height: clamp(1rem, 0.5158rem + 2.0657vw, 2.375rem);
        font-size: clamp(1rem, 0.8786rem + 0.5178vw, 1.5rem);
        line-height: 1;
        margin-bottom: 8px;
        color: var(--black);
    }
    p {
        font-size: clamp(0.75rem, 0.6893rem + 0.2589vw, 1rem);
        line-height: 1;
        color: #4d4d53;
    }
    .gustoBtn {
        background: var(--white) !important;
        box-shadow: 0px 0px 52px rgba(222, 227, 240);
        border-radius: 10px;
        color: var(--black);
        padding-inline: 50px;
        padding-block: 30px;
        max-width: 280px;
        height: 100%;
        border: 2px solid transparent;
        &:active {
            border: 2px solid #242429;
            box-shadow: none;
        }
        &:focus {
            box-shadow: 0px 28px 52px rgba(222, 227, 240, 0.5) !important;
        }
        span {
            font-size: 16px;
            line-height: 20px;
            color: #485361;
        }
    }
    .importBtnWrap {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }
}

.uploadingInfo {
    font-size: 14px;
    line-height: 20px;
    color: #4d4d53;
}
.downloadSection {
    .downloadBtn {
        text-decoration: none;
        background: #f4f6f8 !important;
        border-radius: 10px;
        color: var(--black);
        height: 75px;
        svg {
            width: 32px;
            height: 32px;
            margin-right: 16px;
        }
    }
}

.fillData {
    p {
        font-size: 14px;
        line-height: 20px;
        color: #485361;
    }
    .select {
        font-size: 18px;
        line-height: 20px;
        font-family: var(--Graphik-Semibold);
        color: #242429;
    }
    .companiesWrap {
        display: flex;
        flex-wrap: wrap;
        .companyName {
            box-shadow: 0px 0px 32px rgba(222, 227, 240, 0.9);
            border-radius: 10px;
            background-color: white;
            padding: 15px;
            // margin-right: 24px;
            cursor: pointer;
            border: 1px solid transparent;

            p {
                font-size: 16px;
                line-height: 20px;
                color: #242429;
                text-align: center;
                word-break: break-word;
            }
            &.active {
                border: 1px solid var(--btn-bg-green) !important;
                font-family: var(--Graphik-Semibold);
            }
        }
    }

    .successWrap {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin-bottom: 105px;
        h3 {
            font-size: clamp(1.125rem, 0.9733rem + 0.6472vw, 1.75rem);
            line-height: clamp(0rem, -0.2731rem + 1.165vw, 1.125rem);
            color: #242429;
            margin-top: 40px;
        }
        span {
            font-size: clamp(1.125rem, 0.9733rem + 0.6472vw, 1.75rem);
            line-height: clamp(0rem, -0.2731rem + 1.165vw, 1.125rem);
            color: #242429;
            margin-top: 21px;
        }
        .successCheck {
            border: 8px solid rgba(162, 224, 162, 0.9);
            border-radius: 50px;
            background-color: var(--btn-bg-green);
            width: 64px;
            height: 64px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            padding: 14px;
            svg {
                width: 24px;
                height: 24px;
                color: var(--white);
            }
        }
    }
    .failedWrap {
        p {
            font-size: clamp(0.125rem, 0.6rem + 0.6472vw, 1.75rem);
            line-height: 20px;
            color: #de5042;
            font-family: var(--Graphik-Semibold);
            margin-bottom: clamp(0.375rem, 0.2233rem + 0.6472vw, 1rem);
            border-bottom: 1px solid var(--border-color);
            padding-bottom: 16px;
        }
    }
    .failedEmployees {
        height: 280px;
        overflow-y: auto;
        // background-color: rgba(222, 80, 66, 0.2);
        // border: 1px solid #de5042;
        border-radius: 8px;
        margin-top: 16px;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                margin-bottom: 25px;
                // padding: 8px 8px 0px 8px;

                span {
                    color: #de5042;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    background: rgba(242, 185, 179, 0.2);
                    width: 40px;
                    height: 40px;
                    margin-right: 12px;
                    // opacity: 0.2;
                    border-radius: 6px;
                    svg {
                        color: #de5042;
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }
}
.uploadData {
    .fileUploadWrap {
        .fileUpload {
            height: 75px;
            width: 100%;
            position: relative;
            background: #f9f9f9;
            border: 2px dashed var(--btn-bg-green);
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            background-size: 100% 200%;
            transition: all 1s;
            color: var(--btn-bg-green);
            font-family: var(--Graphik-Semibold);
            font-size: 18px;
            line-height: 20px;
            padding: 16px;
            input[type='file'] {
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                cursor: pointer;
            }
            svg {
                width: 32px;
                height: 32px;
                margin-right: 16px;
            }
        }
    }
}
h4 {
    font-family: var(--Graphik-Semibold) !important;
}

.warningContainer {
    height: 200px;
    overflow-y: auto;
}

.searchBar {
    position: relative;
    svg {
        position: absolute;
        right: 15px;
        top: 20px;
    }
    input {
        padding-block: 16px;
        border: 1px solid var(--border-color);
        border-radius: 6px;
        padding-right: 46px;
        padding-left: 12px;
        width: 100%;
        &:focus-visible,
        &:focus {
            outline: none;
            border-color: var(--dark-border);
        }
    }
}

.employeeName {
    font-size: 14px;
    line-height: 15px;
    color: #242429;
    font-family: var(--Graphik-Semibold);
    margin-bottom: 6px;
}
.employeeMail {
    font-size: 12px;
    line-height: 13px;
    color: #242429;
    margin-top: 6px;
    opacity: 0.8;
}
.customTable {
    height: 480px;
    overflow-y: auto;
}
.backBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
        background-color: transparent !important;
        color: var(--btn-bg-green) !important;
        font-size: 16px;
        line-height: 20px;
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            width: 22px;
            height: 22px;
            margin-right: 8px;
        }
        &:active {
            background-color: transparent !important;
            color: var(--btn-bg-green) !important;
        }
    }
}
.sync {
    color: var(--btn-bg-green) !important;

    span {
        font-size: 16px;
        line-height: 20px;
        color: var(--btn-bg-green) !important;
    }
}
.lastSync {
    font-size: 10px !important;
    line-height: 20px;
    color: #485361;
    font-style: italic;
}
.gustoTitle {
    font-size: clamp(1rem, 0.7573rem + 1.0356vw, 2rem);
    line-height: clamp(1.375rem, 1.1323rem + 1.0356vw, 2.375rem);
    color: #242429;
}
