.portfolioDetailWrapper {
    h3 {
        font-size: 32px;
        line-height: 38px;
    }
    .detail {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            li {
                border-left: 2px solid var(--border-color);
                padding-left: 16px;
            }
        }
        .scores {
            p {
                font-size: 26px;
                line-height: 29px;
                color: var(--dark-border);
                font-family: var(--Graphik-Semibold);
            }
            span {
                color: #adbac6;
                font-size: 14px;
                line-height: 16px;
            }
        }
    }
    .customDrop {
        button {
            background-color: var(--black) !important;
            position: relative;
            width: 101px;
            text-align: start;
            font-size: 14px;
            line-height: 18px;
            border: none;
            height: 40px;
            font-family: var(--Graphik-Semibold);
            &:after {
                display: none;
            }
            &:focus,
            &:active,
            &:focus {
                border: none !important;
                box-shadow: none !important;
            }
            span {
                position: absolute;
                right: 10px;
                padding-left: 12px;
                border-left: 1px solid var(--white);
                svg {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}
.dateDropWrap {
    display: flex;
    justify-content: space-between;
    > div {
        flex: 1;
    }
    :global{
        .select__control{
            background-color: #F4F6F8;
        }
    }
}

.chartBtn1 {
    background: #f4f6f8;
    border: 1px solid #f4f6f8;
    border-radius: 6px 0px 0px 6px;
    height: fit-content;
    padding: 18px;
    svg {
        width: 20px;
        height: 20px;
    }
}
.chartBtn2 {
    background: var(--btn-bg-green);
    border: 1px solid #f4f6f8;
    border-radius: 0px 6px 6px 0px;
    height: fit-content;
    padding: 18px;
    svg {
        width: 20px;
        height: 20px;
    }
}
