.listing-table-top-row {
    background: #fbfbfd;
    display: flex;
    justify-content: space-between;
    padding: 16px 28px;
    align-items: center;

    button {
        background: #f7f7f9;
        border: 1px solid #e1e5e8;
        border-radius: 6px;
        height: 30px;
        width: 30px;
        display: inline-flex;
        justify-content: center;
        align-items: center;

        svg {
            transition: 0.3s all;
            &:hover {
                transform: rotate(60deg);
            }
        }
    }
}
