@import '../../../../assets/css/mixins';


.customDatePicker {
    z-index: 1;
    position: absolute !important;
    box-shadow: 0px 2px 12px rgba(22, 32, 67, 0.15);
    border-radius: 8px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    transform: unset !important;
    transition: 0.5s all !important;
    @include small(max-width) {
            inset: 57px auto auto 0px !important;

    }
}
