html {
    // colors
    --dark-primary-color: #002737;
    --btn-bg-green : #64CC64;
    --white:  #FCFDFF;;
    --black: #000000;
    --btn-bg-gray: #566477;
    --btn-bg-dark: #1b1f25;
    --form-bg: #fbfbfd;
    --dark-text-color: #013f58;
    --box-shadow: rgba(0, 0, 0, 0.06);
    --dark-text: #272b31;
    --dark-border: #242429;

    --regular-gray-text-color: #404853;
    --border-color: #e1e5e8;

    --card-border-color: #f7f7f9;

    --label-color: #95a2b4;
}
