.forgotWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 67px;
    .forgotFormWrapper{
        background: var(--white);
        border: 1px solid var(--border-color);
        box-shadow: 10px 30px 40px 20px var(--box-shadow);
        border-radius: 30px;
        padding: 60px;
        max-width: 580px;
        width: 100%;
    }
}

.backBtn {
    a {
        color: var(--btn-bg-green);
        &:hover {
            color: var(--btn-bg-green);
        }
    }
}
